/.venv/*

/stable_baselines/*
!/stable_baselines/deepq/
/stable_baselines/deepq/*
!/stable_baselines/deepq/*.py

/__pycache__/*
/_fixed_models/*
/experiemental_data/*
/_findings_video/*

/gym_super_mario_bros/*
!/gym_super_mario_bros/*.py

/mario_tensorboard/*
/models/*
/monitor_logs/*
/videos/*

*.zip
*.pdf